.results-container {
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;

  &__table {
    border: 1px solid green;

    .div-table {
      height: 100%;
      width: 100%;
    }
  }

  &__graph {
    border: 1px solid green;
  }
}
