.results-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__result {
    border: 1px solid green;
    display: flex;
    flex-direction: row;

    .div-result {
      display: flex;
      height: 100%;
      width: 100%;
    
      &_interest {
        flex: 1;
      }

      &_table {
        flex:1;
      }

    }
  }

  &__graph {
    border: 1px solid gray;
    flex: 1;
  }
}
