.main-container {
  height: inherit;
  padding: 10px;

  &__card {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    row-gap: 5px;
  }

  .action-area {
    border: 1px solid green;
  }

  .result-area {
  }
}
