.main-container {
  height: inherit;
  padding: 10px;

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 5px;
  }

  .action-area {
    border: 1px solid green;
  }

  .result-area {
    flex: 1;
  }
}
